In [1]:
import pandas as pd

In [2]:
s = pd.Series(["a", "b", "c"]) #创建无索引的Series对象
s

0    a
1    b
2    c
dtype: object

In [3]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
s.values

array(['a', 'b', 'c'], dtype=object)

In [5]:
s = pd.Series(["a", "b", "c"], index = [10, 100, 1000]) #创建有索引的Series对象
s

10      a
100     b
1000    c
dtype: object

In [6]:
s.index

Index([10, 100, 1000], dtype='int64')

In [7]:
s.values

array(['a', 'b', 'c'], dtype=object)

In [8]:
s.index = [1, 2, 3] #改变索引的值
s

1    a
2    b
3    c
dtype: object

In [9]:
s = pd.Series([4, 0, -2, 6], index = ["a", "b", "c", "d"])
s[["a", "c"]] #索引给定行

a    4
c   -2
dtype: int64

In [10]:
s > 0

a     True
b    False
c    False
d     True
dtype: bool

In [11]:
s[s > 0]

a    4
d    6
dtype: int64

In [12]:
s[s % 2 == 0]

a    4
b    0
c   -2
d    6
dtype: int64

In [13]:
elections = pd.read_csv("lecture/lec02/data/elections.csv") #读取csv文件为DataFrame
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

In [14]:
elections = pd.read_csv("lecture/lec02/data/elections.csv", index_col = "Year")
elections

              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878
1828     Andrew Jackson             Democratic        642806    win  56.203927
1828  John Quincy Adams    National Republican        500897   loss  43.796073
1832     Andrew Jackson             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
2016         Jill Stein                  Green       1457226   loss   1.073699
2020       Joseph Biden             Democratic      81268924    win  51.311515
2020       Donald Trump             Republican      74216154   loss  46.858542
2020       Jo Jorgensen            Libertarian       1865724   loss   1.177979
2020     Howard Hawkins                  Green        405035   loss   0.255731

[182 rows x 5 columns]

In [15]:
elections = elections.reset_index() #重置索引
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

In [16]:
elections = elections.set_index("Candidate") #设置索引
elections

                   Year                  Party  Popular vote Result          %
Candidate
Andrew Jackson     1824  Democratic-Republican        151271   loss  57.210122
John Quincy Adams  1824  Democratic-Republican        113142    win  42.789878
Andrew Jackson     1828             Democratic        642806    win  56.203927
John Quincy Adams  1828    National Republican        500897   loss  43.796073
Andrew Jackson     1832             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
Jill Stein         2016                  Green       1457226   loss   1.073699
Joseph Biden       2020             Democratic      81268924    win  51.311515
Donald Trump       2020             Republican      74216154   loss  46.858542
Jo Jorgensen       2020            Libertarian       1865724   loss   1.177979
Howard Hawkins     2020                  Green        405035   loss   0.255731

[182 rows x 5 columns]

In [17]:
numbers = pd.DataFrame([[1, "one"], [2, "two"]],
                       columns = ["Number", "Eng"])
numbers

   Number  Eng
0       1  one
1       2  two

In [18]:
Fruits = pd.DataFrame({"Fruit" : ["apple", "pear", "banana"],
                       "Price" : [5.99, 6.25, 7]}) #用字典创建DataFrame
Fruits

    Fruit  Price
0   apple   5.99
1    pear   6.25
2  banana   7.00

In [19]:
elections.columns

Index(['Year', 'Party', 'Popular vote', 'Result', '%'], dtype='object')

In [20]:
elections.shape

(182, 5)

In [21]:
elections = elections.reset_index()
elections

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073
4,Andrew Jackson,1832,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,Jill Stein,2016,Green,1457226,loss,1.073699
178,Joseph Biden,2020,Democratic,81268924,win,51.311515
179,Donald Trump,2020,Republican,74216154,loss,46.858542
180,Jo Jorgensen,2020,Libertarian,1865724,loss,1.177979
181,Howard Hawkins,2020,Green,405035,loss,0.255731

In [22]:
elections.loc[[3, 5, 7], ["Year", "Party"]] #df.loc[row_lables, column_labels]

   Year                Party
3  1828  National Republican
5  1832  National Republican
7  1836                 Whig

In [23]:
elections.iloc[[3, 5, 7], [1, 2]] #df.iloc[row_integers, column_integers]

   Year                Party
3  1828  National Republican
5  1832  National Republican
7  1836                 Whig